.speech{
    color: black;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.song{
    color:black;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.direction{
    color:black;
    background-color:beige ;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.direction:hover{
    color:deeppink;
    background-color: green;
}

.name{
    color:black;
    font-size: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.CHORUS{
    color:crimson;
}
.MAR{
    color:cadetblue;
}
.ALL{
    color:aqua;
}
.GIU{
    color:cornflowerblue;
}
.ANN{
    color:darkmagenta;
}
table,th,td{
    margin: 1px solid blue;
    border-collapse: collapse;
    width: 30%;
}

th {
    padding: 14px;
    text-align: right;
    background-color:red;
    color: purple;
  }
  td{
    padding: 6px;
  }
  tr:nth-child(even){background-color: green;}
